{% extends 'base.html'%}
{% block about %}
<li class="nav-item">
    <a class="nav-link active" href="about">About us</a>
</li>
{% endblock %}


{% block section %}
<section>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h5 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">Cubix Stock
                    Services.io</h5>
                <h6 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">MEET OUR TEAM
                </h6>
                <p class="align-center">
                    We are all very different. We were born in different cities, at different times, we love different
                    music, food, movies. But we have something that unites us all. It is our company. We are its heart.
                    We are not just a team, we are a family.

                    <br>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt libero tenetur laboriosam quasi,
                    facere adipisci vel aspernatur fugit quia. Doloremque delectus fugiat officia dolore sit
                    consequatur, atque neque cupiditate dolor.

                    <br>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laudantium earum exercitationem alias
                    voluptatum, eos soluta explicabo libero, nesciunt ratione dolor unde voluptates obcaecati ipsum
                    mollitia eius, reprehenderit minus voluptate asperiores veritatis nostrum sed nam modi accusantium.
                    Tempore ea ducimus accusantium dolorem accusamus incidunt vel nisi nulla, adipisci est dolore!
                    We are all very different. We were born in different cities, at different times, we love different
                    music, food, movies. But we have something that unites us all. It is our company. We are its heart.
                    We are not just a team, we are a family.

                    <br>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt libero tenetur laboriosam quasi,
                    facere adipisci vel aspernatur fugit quia. Doloremque delectus fugiat officia dolore sit
                    consequatur, atque neque cupiditate dolor.

                    <br>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laudantium earum exercitationem alias
                    voluptatum, eos soluta explicabo libero, nesciunt ratione dolor unde voluptates obcaecati ipsum
                    mollitia eius, reprehenderit minus voluptate asperiores veritatis nostrum sed nam modi accusantium.
                    Tempore ea ducimus accusantium dolorem accusamus incidunt vel nisi nulla, adipisci est dolore!

                    We are all very different. We were born in different cities, at different times, we love different
                    music, food, movies. But we have something that unites us all. It is our company. We are its heart.
                    We are not just a team, we are a family.

                    <br>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt libero tenetur laboriosam quasi,
                    facere adipisci vel aspernatur fugit quia. Doloremque delectus fugiat officia dolore sit
                    consequatur, atque neque cupiditate dolor.

                    <br>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laudantium earum exercitationem alias
                    voluptatum, eos soluta explicabo libero, nesciunt ratione dolor unde voluptates obcaecati ipsum
                    mollitia eius, reprehenderit minus voluptate asperiores veritatis nostrum sed nam modi accusantium.
                    Tempore ea ducimus accusantium dolorem accusamus incidunt vel nisi nulla, adipisci est dolore!
                    We are all very different. We were born in different cities, at different times, we love different
                    music, food, movies. But we have something that unites us all. It is our company. We are its heart.
                    We are not just a team, we are a family.

                    <br>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt libero tenetur laboriosam quasi,
                    facere adipisci vel aspernatur fugit quia. Doloremque delectus fugiat officia dolore sit
                    consequatur, atque neque cupiditate dolor.

                    <br>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laudantium earum exercitationem alias
                    voluptatum, eos soluta explicabo libero, nesciunt ratione dolor unde voluptates obcaecati ipsum
                    mollitia eius, reprehenderit minus voluptate asperiores veritatis nostrum sed nam modi accusantium.
                    Tempore ea ducimus accusantium dolorem accusamus incidunt vel nisi nulla, adipisci est dolore!

                    We are all very different. We were born in different cities, at different times, we love different
                    music, food, movies. But we have something that unites us all. It is our company. We are its heart.
                    We are not just a team, we are a family.

                    <br>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt libero tenetur laboriosam quasi,
                    facere adipisci vel aspernatur fugit quia. Doloremque delectus fugiat officia dolore sit
                    consequatur, atque neque cupiditate dolor.

                    <br>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laudantium earum exercitationem alias
                    voluptatum, eos soluta explicabo libero, nesciunt ratione dolor unde voluptates obcaecati ipsum
                    mollitia eius, reprehenderit minus voluptate asperiores veritatis nostrum sed nam modi accusantium.
                    Tempore ea ducimus accusantium dolorem accusamus incidunt vel nisi nulla, adipisci est dolore!
                    We are all very different. We were born in different cities, at different times, we love different
                    music, food, movies. But we have something that unites us all. It is our company. We are its heart.
                    We are not just a team, we are a family.

                    <br>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt libero tenetur laboriosam quasi,
                    facere adipisci vel aspernatur fugit quia. Doloremque delectus fugiat officia dolore sit
                    consequatur, atque neque cupiditate dolor.

                    <br>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laudantium earum exercitationem alias
                    voluptatum, eos soluta explicabo libero, nesciunt ratione dolor unde voluptates obcaecati ipsum
                    mollitia eius, reprehenderit minus voluptate asperiores veritatis nostrum sed nam modi accusantium.
                    Tempore ea ducimus accusantium dolorem accusamus incidunt vel nisi nulla, adipisci est dolore!

                </p>
                <a href="contact" class="link-success">
                    <button type="button" class="btn btn-outline-dark">Contact Us</button>
                </a>

            </div>
            <br>
        </div>
</section>
{% endblock %}