{% extends "base.html" %}

{% block searched %}
<li class="nav-item">
    <a class="nav-link" href="stock">Stocks</a>
</li>
{% endblock %}

{% block section %}

<div class="container-fluid">

    <!-- Navbar -->
    <div class="row">

    </div>
    <!-- Nav end -->

    <br>
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div class="col-md-5 offset-md-2">
                <h3>Price Of Today's Stock</h3>
            </div>


            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <form class="d-flex" method=POST action="{% url 'listSearched' %}">
                        {% csrf_token %}
                        <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search"
                            name="searched">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>
                </div>
            </nav>


        </div>
    </div>

    <!-- Table -->
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Company ID</th>
                    <th scope="col">Open</th>
                    <th scope="col">High</th>
                    <th scope="col">Low</th>
                    <th scope="col">Close</th>
                    <th scope="col">Adj Close</th>
                    <th scope="col">Volume</th>


                </tr>
            </thead>
            <tbody>

                
                {% for one in tail %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{one.open}}</td>
                    <td>{{one.high}}</td>
                    <td>{{one.low}}</td>
                    <td>{{one.close}}</td>
                    <td>{{one.adj}}</td>
                    <td>{{one.vol}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <!-- Table end -->

    <!-- footer-->
    <div class="row">

    </div>
    <!-- footer end -->
</div>

{% endblock %}